Tech Updates.json
{
  "name": "Tech Updates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        32
      ],
      "id": "22778e0c-f04b-43df-91ee-7aab2ec9b211",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -368,
        -160
      ],
      "id": "15e39fb4-00cd-42a1-82e8-bd12f7ee4822",
      "name": "AI News Reader"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        32
      ],
      "id": "494c6b1f-c53b-41e7-8da9-d1f1aaf466fb",
      "name": "Data Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report from multiple categories.\nUse only the provided items. Do not invent content.\nOrganize the provided items by category and Format exactly like this:\n\nHi there,\nHere's your Tech Brief:\n\nAI NEWS HIGHLIGHTS\n======================\n[5 most important AI developments]\nFor each AI-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nTECHNOLOGY UPDATES\n======================\n[Latest broader technology-related developments from major tech sources]\nFor each broader technology-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nUPCOMING AI EVENTS\n======================\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFor each Event Item\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nKeep the summaries professional, concise, and easy to read.\n\nSign off as \"Your AI Intelligence Team\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        32
      ],
      "id": "4ce85db9-0a83-42ca-ab1a-21229a17d0b5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "id": "0ce8a694-920b-4e25-a3cc-0755f497eb3a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gA99QKiQJGcIB7OS",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "varunvishwaa169@gmail.com",
        "subject": "Todays AI news ",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        32
      ],
      "id": "25c18eae-f1b6-487b-af0e-18720f8bea62",
      "name": "Send a message",
      "webhookId": "b8933da5-850d-484f-b21e-42666773d8a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "dMGQSPN0zgPTOnmH",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -368,
        32
      ],
      "id": "4dc82929-a5d1-41ac-adcd-0a2fe09bf928",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        16
      ],
      "id": "7b8901bd-f1b3-4390-9051-98970e93a216",
      "name": "Data Merge"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "AI tech events in India"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "38066d5d216dc19a7642f5f40933afbcdb1bee4217e763f1ed043942c863ec03"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -368,
        224
      ],
      "id": "93877e81-2f71-4399-816b-d62104c9952f",
      "name": "Fetch events"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI News Reader",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Reader": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Merge": {
      "main": [
        [
          {
            "node": "Data Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Fetch events": {
      "main": [
        [
          {
            "node": "Data Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4291a7e5-1f8c-494d-9fb8-d2d0ae584450",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a42fec59a735878a0d4ef0bbe4a1d924ba227ee9ad66127341600540f283118"
  },
  "id": "DFaZTA4TF9X4SFdQ",
  "tags": []
}